.cabecalho{    
    display: flex;
    align-items:center;
    justify-content: space-between;
    box-sizing: border-box;
    background: whitesmoke;
    padding: 1rem 7rem 1rem 5rem;
   
}

.logo{
    width: 12%;
}

.menu__lista{
    display: flex;
    list-style: none;
    gap: 0.9rem;
}

#btn_mobile{
    display: none;
}

.menu__social--lista{
    display: none;
}

.menu__item{
    padding-left: 2rem;
}

.menu__link{
    color: rgba(199, 8, 8, 0.945);
    font-size: 1.2rem;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 00.5s all ease;
}

.menu__link:hover{
    color: black;
}


@media screen and (max-width: 600px) {
    .logo{
        width:35%;
        text-align: center;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem 3rem;
    }

    #btn_mobile{
        display:flex;
        cursor: pointer;
        padding: .4rem .3rem;
        border: none;
        background: none; 
    }

    #hamburguer{
        display: block;
        border-top: 3px solid;
        width: 20px;
        gap: .5rem;
    }

    #hamburguer::after, #hamburguer::before{
        width: 20px;
        height: 3px;
        content: '';
        display: block;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #menu.active #hamburguer{
        border-top-color: transparent;
    }

    #menu.active #hamburguer::before{
        transform:rotate(135deg) ;
    }

    #menu.active #hamburguer::after{
        transform:rotate(-135deg) ;
        top: -8px;
    }

    .menu__lista{
        display: block;
        position:absolute;
        width: 70%;
        top: 75px;
        right: 0;
        background: whitesmoke;
        height: 0;
        transition: 0.20s;
        z-index: 10000;
        padding-top: 3rem;
        visibility: hidden;
        overflow-y: hidden;   
    }

    .menu__item{
        padding-top: 2rem;
    }

    .menu__link{
        font-size: 1.2rem;
    }

    .menu__social--lista{
        display: flex;
        justify-content:space-around;
        padding-top: 5rem;
        right: 0;
    }

    .menu__social{
        text-decoration: none;
    }

    .menu__social--link{
        color: rgba(199, 8, 8, 0.945);
        font-size: 2rem;
        text-decoration: none;   
    }

    #menu.active .menu__lista{
        display: flex;
        display: block;
        height: 90vh;
        visibility: visible;
        overflow-y: auto;
    }
}