footer{
    
    margin-top: 70px;
    text-align: center;
    background: black;
    padding: 20px 0;
}

.redesocial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redesocial a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    /*margin: 0 10px 0 12px;*/
    transition: 0.5s all ease;
    padding:0 1rem;
}

.redesocial i{
    padding-right: 0.5rem;
}
    
.redesocial a:hover{
    color: rgba(199, 8, 8, 0.945);
}

.copyright{
    color: white;
    margin-top: 20px;
}