.sobre{
    font-family: 'Barlow Condensed', sans-serif;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;   /* border-left: 1px solid white;
    border-right: 1px solid white;*/
}

.sobre h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}
.sobre p{
    font-size: 20px;
    margin-top: 15px;
    color: white;
}

.sobre__caixa{
    padding:0 5rem;
}

@media screen and (min-width: 0px) {

    .sobre{
        
        padding: 5rem 0;
    }

    .sobre p{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .sobre{
        margin-top: 5rem;
    }

    .sobre p{
        font-size: 20px;
    }
}
